<!DOCTYPE html>
<html>
  <head>
    <!-- BOOTSTRAP FILES-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!-- Fengyuan Chen's Datepicker -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
      integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
      integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k="
      crossorigin="anonymous"
    ></script>

    <script>
      $(function () {
        $("#datepicker").datepicker({ format: "dd/mm/yyyy" });
        $("#datepicker2").datepicker({ format: "dd/mm/yyyy" });
      });

      function setCoordInputsStatus() {
        if (document.getElementById("coordinates_chk").checked == true) {
          document.getElementById("lat_input").removeAttribute("disabled");
          document.getElementById("long_input").removeAttribute("disabled");
          document.getElementById("radius_input").removeAttribute("disabled");
          document.getElementById("lat_input").removeAttribute("required");
          document.getElementById("long_input").removeAttribute("required");
          document.getElementById("radius_input").removeAttribute("required");
        } else {
          document.getElementById("lat_input").setAttribute("disabled", "true");
          document
            .getElementById("long_input")
            .setAttribute("disabled", "true");
          document
            .getElementById("radius_input")
            .setAttribute("disabled", "true");
          document.getElementById("lat_input").setAttribute("required", "true");
          document
            .getElementById("long_input")
            .setAttribute("required", "true");
          document
            .getElementById("radius_input")
            .setAttribute("required", "true");
        }
      }

      function hideCoordInputs(flag) {
        document.getElementById("fullsearch_div").style.display = flag;
      }
    </script>

    <style>
      label {
        font-weight: bold;
        color: darkslategrey;
      }
      a {
        transition: color 0.3s;
        font-weight: bold;
      }
      a:hover {
        color: #367fbf !important;
      }

      li {
        margin-left: 45px;
      }
    </style>
  </head>

  <title>Orbit Tweets Search</title>
  <body>
    <!--NAV BAR-->
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark"
      style="background-color: #1d2840 !important"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="https://storage.googleapis.com/orbit-logo/ORBIT%20-%20LOGOTIPO%20-%20HORIZONTAL%205.png"
            width="auto"
            height="100"
            alt=""
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

      </div>
    </nav>

    <!-------------------------- FORM ------------------------------>
    <div class="container">
      <br />
      <h2 style="color: #367fbf; font-weight: bold">Tweets Search</h2>
      <form method="post" name="form1">
        <div class="form-group">
          <!-------------------------- ACCOUNT CHECK ------------------------------>
          <label class="form-check-label" for="flexCheckChecked">
              Conta do Twitter
          </label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="1"
              name="account_radio"
              id="radio1"
              checked
              (click)="switchAccount(0)"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Conta 1 (@‌Orbit176178735)
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="1"
              name="account_radio"
              id="radio2"
              (click)="switchAccount(1)"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Conta 2 (@orbitdatascien1)
            </label>
          </div>
          <!-------------------------- Query ------------------------------>
          <label for="formGroupExampleInput">Query</label>
          <input
            type="text"
            class="form-control"
            name="query"
            id="query"
            placeholder="Insira a query de busca"
            required="true"
            [(ngModel)]="queryContent"
          />
          <!-------------------------- Idioma ------------------------------>
          <label for="inputState">Idioma</label>
          <select
            name="idioma"
            id="idioma"
            class="form-control"
            required="true"
            [(ngModel)]="langContent"
          >
            <option selected value="-1">Qualquer Idioma</option>
            <option *ngFor="let key of languageKeys" [value]="key">
              {{ languages[key] }}
            </option>
          </select>

          <!-- ------------------------ Datas ----------------------------
          <label  for="formGroupExampleInput">Data Inicial</label>
          <input
            type="text"
            class="form-control"
            name="datepicker"
            id="datepicker"
            required="true"
          />
          <label  for="formGroupExampleInput">Data Final</label>
          <input
            type="text"
            class="form-control"
            name="datepicker2"
            id="datepicker2"
            required="true"
          /> -->

          <br />
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="1"
              name="retweets_chk"
              id="retweets_chk"
              (click)="toogleIncludeRetweets()"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Incluir Retweets
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="1"
              name="replies_chk"
              id="replies_chk"
              (click)="toogleIncludeReplies()"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Incluir Replies
            </label>
          </div>
          <div class="container" style="align-items: center">
            <br />
            <p style="text-align: center">
              <button
                id="myBtn"
                type="submit"
                class="btn btn-primary"
                (click)="sendData('tweetscount')"
              >
                Tweets Count (Últimos 7 dias)
              </button>
              <br />
              <br />
              <button
                id="myBtn"
                type="submit"
                class="btn btn-primary"
                (click)="sendData('tweetssearch')"
              >
                Tweets Search (últimas 24 horas)
              </button>
            </p>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
